@import "../../global/variables";
.wrapper {
    width: 100%;
    height: 100%;
}

.fixedNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.background {
    z-index: $z-background;
    transition: background-image 1s cubic-bezier(0.49, 0.54, 0.14, 1.17)
}
